{% extends "base.html" %}
  {% block active %}active{% endblock %}

  {% block content %}

<div id="top"></div>
<div id="page">
  <div class="page-in">
    <div id="datacontent">
      <div class="about clearfix">
        <h1>
          Phelim Bradley   </h1>
        <p>
          Final Year Physics Student        </p>
      </div>
       
    </div>
    <div class="wrapper" style="height: 275px; display: block; ">
      <div id="profiles" style="opacity: 1; display: block; ">
        <div id="content">
          <ul>
                        <li><a href="http://twitter.com/phelimb"><div class="fader" style="opacity: 0; "></div><img src="img/twitter.png" style="margin-left: 10px; "><strong>Twitter</strong>twitter.com</a></li>
                        
                        <li><a href="http://facebook.com/phelim.bradley"><div class="fader" style="opacity: 0; "></div><img src="img/facebook.png" style="margin-left: 10px; "><strong>Facebook</strong>facebook.com</a></li>
                        
                       <li><a href="https://profiles.google.com/115082992458006833168"><div class="fader" style="opacity: 0; "></div><img src="img/google.png" style="margin-left: 10px; "><strong>Google+</strong>plus.google.com</a></li>
                        
                       <!--<li><a href="http://human3rror.posterous.com/"><div class="fader" style="opacity: 0; "></div><img src="img/posterous.png" style="margin-left: 10px; "><strong>Posterous</strong>posterous.com</a></li>-->
                        
                        <li><a href="http://www.linkedin.com/pub/phelim-bradley/26/8/843"><div class="fader" style="opacity: 0; "></div><img src="img/linkedin.png" style="margin-left: 10px; "><strong>LinkedIn</strong>linkedin.com</a></li>
                        
                        <!--<li><a href="http://www.stumbleupon.com/stumbler/human3rror/"><div class="fader" style="opacity: 0; "></div><img src="img/stumbleupon.png" style="margin-left: 10px; "><strong>Stumbleupon</strong>stumbleupon.com</a></li>-->
                        
                        <li><a href="http://delicious.com/phelimb"><div class="fader" style="opacity: 0; "></div><img src="delicious.png" style="margin-left: 10px; "><strong>Delicious</strong>delicious.com</a></li>
                        
                        <!--<li><a href="http://www.reddit.com/user/human3rror"><div class="fader" style="opacity: 0; "></div><img src="img/reddit.png" style="margin-left: 10px; "><strong>Reddit</strong>reddit.com</a></li>-->
                        
                        <!--<li><a href="http://digg.com/users/human3rror"><div class="fader" style="opacity: 0; "></div><img src="img/digg.png" style="margin-left: 10px; "><strong>Digg</strong>digg.com</a></li>
                        
                        <li><a href="http://technorati.com/people/technorati/human3rror"><div class="fader" style="opacity: 0; "></div><img src="img/technorati.png" style="margin-left: 10px; "><strong>Technorati</strong>technorati.com</a></li>-->
            
                        <li><a href="http://vimeo.com/phelimb"><div class="fader" style="opacity: 0; "></div><img src="img/vimeo.png" style="margin-left: 10px; "><strong>Vimeo</strong>vimeo.com</a></li>
            
                        <li><a href="http://www.youtube.com/phelimb"><div class="fader" style="opacity: 0; "></div><img src="img/youtube.png" style="margin-left: 10px; "><strong>YouTube</strong>youtube.com</a></li>
            
                        <li><a href="http://www.flickr.com/photos/phelimbradley"><div class="fader" style="opacity: 0; "></div><img src="img/flickr.png" style="margin-left: 10px; "><strong>Flickr</strong>flickr.com</a></li>
                                  <!--  <li><a href="http://www.last.fm/music/human3rror"><div class="fader" style="opacity: 0; "></div><img src="img/lastfm.png" style="margin-left: 10px; "><strong>Last.fm</strong>last.fm</a></li>-->
                        
                        
                        <li><a href="http://blag.phelimbradley.com/"><div class="fader" style="opacity: 0; "></div><img src="img/wordpress.png" style="margin-left: 10px; "><strong>Wordpress</strong>wordpress.com</a></li>
                        
                         <li><a href="http://www.slideshare.net/phelimbradley"><div class="fader" style="opacity: 0; "></div><img src="img/slideshare.png" style="margin-left: 10px; "><strong>Slideshare</strong>slideshare.net</a></li>
                      </ul>
                      
          <div class="clear"></div>
          <div id="content">
                      </div>
        </div>
      </div>

      
      </div>
    </div>
  </div>
</div>

  {% endblock %}

