{% extends "base.html" %}
{% block worksactive %}active{% endblock %}
{% block content %}

<div id="top"></div>
<div id="page">
  <div class="page-in">
    <div id="datacontent">
      <div class="about clearfix">
        <h1>
          Phelim Bradley   </h1>
        <p>
          Final Year Physics Student        </p>
      </div>
      
      </div>

    <div class="wrapper" style="height: 275px; display: block; ">
      <div id="profiles" style="opacity: 1; display: block; ">
        <div id="content">
        <table width="800"  border="0" align="center" id="AAA">



      <tr>
        <td width="450" height="250"><a href="http://astryl.ie"><img src="img/astryl.png" alt="Astryl" width="250" height="250" hspace="100" vspace="50" align="absmiddle" /></a></td>
        <td width="350"><h3><font size="30"><a = href="http://astryl.ie" >Astryl.ie</a></h1></font></td>
      </tr>

      <tr>
        <td width="450" height="250"><a href="http://ucc.ie/sailing"> <img src="img/sailing.JPG" alt="sailing" width="250" height="250" hspace="100" vspace="50" align="absmiddle" /></a></td>
        <td width="350"><h1><a href="http://ucc.ie/sailing">UCC Sailing Website</h1></a></td>
      </tr>

<tr>
        <td width="450" height="250"><a href="http://mcr.fitz.cam.ac.uk"> <img src="http://mcr.fitz.cam.ac.uk/media/images/fitzLogo.png" alt="fitz" width="250" height="250" hspace="100" vspace="50" align="absmiddle" /></a></td>
        <td width="350"><h1><a href="http://ucc.ie/sailing">Fitzwilliam
        MCR  Website</h1></a></td>
      </tr>
      
      
      </table>
        </div>
        </div>
        </div>
{% endblock %}
